{% extends "layout.twig" %}

{% block content %}
          <h1>Admin Panel</h1>
            <ul>
              <li>
                  <a href="{{ 'admin/posts' | url }}">Manage BlogPosts</a>
                  <a href="{{ 'admin/users' | url }}">Manage Userss</a>
              </li>
            </ul>
{% endblock %}