{% extends "layout.twig" %}

{% block content %}
            <h2>New Posts</h2>
            {# si existe una variable llamada errors y contiene algo
            entra en el if #}
            {% if errors %}
                {% include('partials/errors.twig') %}
            {% endif %}

            {% if result %}
              <div class="alert alert-success">
              Post added Successfully!
              </div>
            {% endif %}

            <form action="{{ 'admin/posts/insert' | url }}" method="post">
                <div class="form-group">
                  <label for="inputTitle">Title</label>
                  <input class="form-control" type="text" name="title" value="" id="inputTitle">
                </div>
                <div class="form-group">
                  <label for="inputImg">Image</label>
                  <input class="form-control" type="text" name="img" value="" id="inputImg">
                </div>
                <textarea class="form-control" name="content" rows="5" cols="10" id="inputContent"></textarea>
                <br>
                <input class="btn btn-primary" type="submit" value="Save">
            </form>

{% endblock %}