{% extends "layout.twig" %}

{% block content %}
            <h2>Posts</h2>
            <table class="table">
              <tr>
                  <th>Title</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>

              {% for blog_post in blog_posts %}
                <tr>
                  <td>{{blog_post.title}}</td>
                  <td>Edit</td>
                  <td>Delete</td>
                </tr>
              {% endfor %}

            </table>

            <a href="{{'admin/posts/insert' | url}}" class="btn btn-primary">New Post</a>
            <!-- <a href="<?php echo BASE_URL . '?route=insert-post'; ?>" class="btn btn-primary">New Post</a> -->

{% endblock %}


{% block buttonName %}
  Admin Panel
{%  endblock  %}

{% block buttonUrl %}
href="{{ 'admin' | url }}"
{%  endblock  %}