.blog-post-image {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.blog-post-image img {
    /* width: 70%; */

        max-width:50vw;
        max-height:50vh;

    border-radius: 10%;
}